{% extends 'base.html' %}
{% block content %}

    {# Your Code Here contains navbar add new diary button and cards of all diary entries made#}

    {#    <div class="topnav">#}
    {#        <a class="active" href="#home"> My_Daybook </a>#}
    {#        <input type="text" placeholder="Search..">#}
    {#    </div>#}
    {#    <br>#}
    {#    <div class="container">#}
    {#        <button type="button" class="btn btn-outline-info">#}
    {#            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">#}
    {#                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>#}
    {#                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>#}
    {#            </svg>#}
    {#            Add New Entry#}
    {#        </button>#}
    {#    </div>#}

    {# Your Code Here#}


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand display-1" href="/"><h1>DayBook</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <input class="form-control mr-sm-2 min-vw-auto" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 custom-class" type="submit">Search</button>
            </form>
            <a href="/new_entry/">
                <button class="btn btn-outline-primary mx-md-3 my-2 my-sm-0 custom-class" type="submit">New
                    Diary
                </button>
            </a>
        </div>
    </nav>
    <div class="container">
        <h1 class="display-1 mb-3">Memories</h1>
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">My trip to Ladakh</h5>
                <div class="row">
                    <div class=" col-md-6">
                        <a href="/view_diary/" class="btn btn-primary btn-block   my-2 my-sm-0 custom-class">Read
                            More</a>
                    </div>
                    <div class=" col-md-6">
                        <a href="#" class="btn btn-danger btn-block   my-2 my-sm-0 custom-class">Delete Entry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}